
li
{
  list-style-type: none;
  margin-left: 1vw;
}

li:first-child
{
  margin:0;
}

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}



.copyright,  .impressum
{
  text-align: center;
}

.logo
{
  height: 8vh;
}
